<template>
    <div>
        <a id="notificationsDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="resetNotifications">
            Notifications <span dusk="counter" class="badge badge-secondary" v-show="!!counter">{{ counter }}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">
            <a class="dropdown-item" v-for="notification in formattedNotifications">
                <div>
                    {{ notification.message }}
                    <span class="float-right text-muted small">{{ notification.created_for_humans }}</span>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user_id'],

        data() {
            return {
                notifications: [],
                counter: 0,
            }
        },

        created() {
            this.getNotifications();

            Echo.private(`App.User.${this.user_id}`)
                .listen('IncomingTransfer', ({notification}) => {
                    this.getNotifications();
                });
        },

        methods: {
            getNotifications() {
                axios
                    .get(`/users/notifications`)
                    .then( ({data}) => {
                        this.notifications = data;
                        this.counter = this.notifications.length;
                    });
            },
            resetNotifications() {
                axios
                    .patch(`/users/notifications/reset`)
                    .then( response => {
                        this.counter = 0;
                    });
            }
        },

        computed: {
            formattedNotifications() {
                if (!!this.notifications.length) {
                    return this.notifications;
                }

                return this.notifications = [
                    { message: 'There are no new notifications' }
                ];
            }
        }
    }
</script>
