<template>
    <div class="row justify-content-center pt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Send Virtual Currency
                    <small><a href="javascript:;" @click="addRow">Add User</a></small>
                </div>

                <div class="card-body">
                    <table class="table table-sm mb-0">
                      <tbody class="border-bottom">
                        <tr v-for="(row, index) in rows" class="">
                          <td class="align-middle">User ID:</td>
                          <td><input type="number" :id="'user_id_' + index" v-model="row.user_id" class="form-control col-md-6"></td>
                          <td class="align-middle">Amount:</td>
                          <td><input type="number" :id="'amount_' + index" v-model="row.amount" class="form-control col-md-6"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary" @click="send">Send</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user_id'],

        data() {
            return {
                rows: [],
            };
        },

        methods: {
            addRow() {
                if (this.rows.length >= 10) {
                    return;
                }

                this.rows.push({
                    user_id: '',
                    amount: '',
                })
            },
            send() {
                axios.post(`/users/send-vc`, this.rows)
                     .then(response => {
                        this.rows = [];
                        alert('VC successfully transfered.');
                    })
                     .catch(error => {
                        if (error.response.status == 422) {
                            let errors = error.response.data.errors;
                            let key = Object.keys(errors)[0];

                            alert(errors[key][0]);
                        }
                     });
            }
        }
    }
</script>
