<template>
    <span>{{ balance.toFixed(2) }}</span>
</template>

<script>
    export default {
        props: ['init', 'user_id'],

        data() {
            return {
                balance: this.init,
            }
        },

        created() {
            Echo.private(`App.User.${this.user_id}`)
                .listen('BalanceUpdated', ({user}) => {
                    this.balance = user.vc;
                });
        }
    }
</script>
